/* ==================================================
   MEDIAART LAYOUT SYSTEM
================================================== */


/* ==================================================
   CONTAINER
================================================== */

.container{
    width:min(var(--ma-container-width),calc(100% - 32px));
    margin-inline:auto;
}

/* ==================================================
   STANDARD SECTION
================================================== */

.ma-section{
    padding-block:var(--ma-space-8);
}

.ma-section-sm{
    padding-block:var(--ma-space-7);
}

.ma-section-lg{
    padding-block:96px;
}



/* ======================================
   HEADER
====================================== */



/* ======================================
   FOOTER
====================================== */



/* ======================================
   GRID
====================================== */



/* ======================================
   SECTION SPACING
====================================== */



/* ======================================
   RESPONSIVE
====================================== */