{% extends "customer/layout.html" %}

{% block title %}
{{ tr.my_account }}
{% endblock %}

{% block customer_content %}

<h1 class="section-title">
   {{ tr.my_account }}
</h1>

<div class="customer-card">

    <h2>
        {{ tr.personal_information }}:
    </h2>

    <br>

    <p>
        <strong>{{ tr.username }}:</strong>
        {{ current_user.username }}
    </p>

    <p>
        <strong>{{ tr.email_address }}:</strong>
        {{ current_user.email }}
    </p>

    <p>
        <strong>{{ tr.first_name }}:</strong>
        {{ current_user.first_name or "-" }}
    </p>

    <p>
        <strong>{{ tr.last_name }}:</strong>
        {{ current_user.last_name or "-" }}
    </p>

    <p>
        <strong>{{ tr.phone_number }}:</strong>
        {{ current_user.phone or "-" }}
    </p>

    <br>

    <a
        href="{{ url_for('customer_auth.profile') }}"
        class="ma-btn ma-btn-primary"
    >
       {{ tr.edit_profile }}
    </a>

</div>

{% endblock %}