{% extends "base.html" %}

{% block title %}تسجيل الدخول{% endblock %}

{% block content %}
<section class="shop-section">
    <div class="container">
        <h1 class="section-title">تسجيل الدخول</h1>

        <form method="POST" class="admin-update-form" style="max-width:500px;margin:auto;">
            <input type="email" name="email" class="form-control" placeholder="البريد الإلكتروني" required>
            <br>
            <input type="password" name="password" class="form-control" placeholder="كلمة المرور" required>
            <br>
            <button type="submit" class="btn-primary">دخول</button>
        </form>
    </div>
</section>
{% endblock %}