@import url("./card-base.css");
@import url("./card-service.css");
@import url("./card-project.css");


.card {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}